<h3>Login</h3>
<div class="contenedor">

  <label for="Email">Usuario</label>
  <input type="text" placeholder="Usuario (jimena)" [(ngModel)]="user" class="form-control" >


  <label for="password">Password</label>
  <input type="password" placeholder="Contraseña (password)" [(ngModel)]="password" class="form-control" />

  <div class="spacer" style="margin-top: 1rem; grid-column: 2; justify-self: right;">
    <button type="submit" class="btn btn-info" (click)="Login()">Login</button>
  </div>
</div>